<!DOCTYPE html>
<html>
<head>
    <title>Upload and Download</title>
</head>
<body>
    <h1>Upload Documents</h1>
    <form action="/upload1" method="post" enctype="multipart/form-data">
        <input type="file" name="file1">
    </form>
    <br>
    <form action="/upload2" method="post" enctype="multipart/form-data">
        <input type="file" name="file2"> 
    </form>
    <br>
    <form action="/download" method="get">
        <button type="submit">Download Text File</button>
    </form>
</body>
</html>
